body {
    background-color: grey;
}

div.bahan {

    background-color: #008B8B;
    width: 100ex;
    height: 100ex;
    margin-left: auto;
    margin-right: auto;

}

div.brg {
    background-color: grey;
    width: 10ex;
    height: 10ex;
    text-align: center;
    /* border: solid black 0.3px; */
    float: left;
    outline: black solid 1px;

}
